@model GPGVM.Nop.Access.IdentityServer.Plugin.Models.ClientConfigRecordList
@using Nop.Core.Infrastructure
@using Nop.Web.Framework

@{
    
    //page title
    //ViewBag.Title = T("Admin.Catalog.Categories.Manage").Text;
    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("Categories");
}

@Html.AntiForgeryToken()
@*Create Button*@
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("GPGVM.NOP.IdentityServer.Clients.Manage")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

@{
    Html.RenderPartial("_DisplayLayout", Model);
}


